doctype html
html(lang='en')
    head
        title Home Inventory
    body
        h1 Home Inventory
        #container.col
            table
                tr
                    td Item
                    td Description
                    td Value
                    td Room

